<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="not-apply">{{ .title }}</h3>
      <p class="not-apply">{{ .description }}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row px-3 justify-content-center justify-content-lg-between">
    {{ range .items }}
    <div class="contribute__block col-lg-4 col-md-12">
      <div class="contribute__inner">
        <div class="pb-5">
          <img src="{{ .icon }}" />
        </div>
        <div class="w-100 pl-3">
          <h4 class="not-apply">{{ .title }}</h4>
          <p class="not-apply mb-0">{{ .body | safeHTML }}</p>
          <p class="not-apply mb-0 pt-4">
            <a href="{{ .href }}">{{ .linkTitle }}</a>
          </p>
        </div>
      </div>
      {{ range .links }}
      <div>
        <a href="#">{{ .title }}</a>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
