<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="not-apply">{{ .title }}</h3>
      <p class="not-apply">{{ .description | safeHTML }}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {{ range .items }}
    <div class="col-lg-3 col-md-6">
      <div class="contribute__block ">
        <div class="contribute__image-wrapper">
          <img src="{{ .icon }}" />
        </div>
        <div class="contribute__inner-block w-100 pl-3">
          <h4 class="contribute__title not-apply">{{ .title }}</h4>
          <p class="contribute__paragraph not-apply mb-0">{{ .body | safeHTML }}</p>
          <p class="contribute__href not-apply">
            <a href="{{ .href }}">{{ .linkTitle }}</a>
          </p>
        </div>
        {{ range .links }}
        <div>
          <a href="#">{{ .title }}</a>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
