<div class="container">
  <div class="row">
    <div class="get-connected__title col-12 align-items-center">
      <h3 class="not-apply">{{ .title }}</h3>
      <p class="not-apply">{{ .description }}</p>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row px-3 justify-content-center justify-content-lg-between">
    {{ range .items }}
    <div class="get-connected__wrapper col-lg-4 col-md-12">
      <div class="get-connected__item">
        <h4 class="not-apply">{{ .title }}</h4>
        <p class="get-connected__paragraph not-apply">{{ .body }}</p>
        <div class="d-flex justify-content-between">
          {{ range .links }}
          <div class="d-flex flex-column align-items-center">
            {{ with .icon }}
            <div class="get-connected__icon d-flex align-items-center pb-3">
              <img src="{{ . }}" />
            </div>
            {{ end }}
            <a href="{{ .href | default "#"}}" target="_blank">
            {{ .title }}
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
