<section class="hero-panel not-apply">
  <div class="container-fluid">
    <div class="container">
      <div class="hero-panel__title d-flex align-items-center">
        <div>
          {{ with .Params.hero.link_back_title }}
          <a href="/accelerators" class="hero-panel__link">« {{ . | markdownify }}</a>
          {{ end }}
          {{ with .Params.hero.title }}
          <h4 class="not-apply m-0" >{{ . | markdownify }}</h4>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ $backgroundColor := .Params.hero.background_color }}
  {{ $background_image_secondary := .Params.hero.background_image_secondary  }}
  <div class="d-flex flex-column w-100" {{ with $backgroundColor }} style="background-color: {{ . }}" {{ end }}>
    <div class="hero-panel__outer flex-grow-1 background-image" {{ with $background_image_secondary }} style="background-image: url('{{ . | relURL }}')" {{ end }}>
      <div class="container">
        <div class="row">
          <div class="hero-panel__info col-lg-6 col-md-12">
            <p class="hero-panel__paragraph not-apply">{{ .Params.hero.body | markdownify }}</p>
            {{ with .Params.hero.link_documentation_title }}
              <a href="#" class="hero-panel__link">{{ . }}</a>
            {{ end }}
            {{ with .Params.hero.bottom_paragraph }}
              <p class="hero-panel__bottom-paragraph not-apply">{{ . }}</p>
            {{ end }}
            {{ $url := .Page.URL }}
            {{ $currentTag := replace (index (last 1 (split .URL "#")) 0) "/" "" }}
            {{ if .Page.Params.navigation }}
            <div class="hero-panel__navigation">
              <ul class="nav nav-tabs">
                {{ $data := index .Site.Data .Site.Language.Lang }}
                {{ range $element := $data.get_started.tabs }}
                <li>
                  <a id="on-{{ .id }}"
                     class="hero-panel__navigation-item not-apply"
                     data-toggle="tab"
                     href="#{{ .id }}-tab">{{ .title}}</a>
                </li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </div>
          <div class="hero-panel__info col-lg-6 col-md-12">
            {{ with .Params.hero.image }}
              <img src="/{{ . }}">
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
