baseURL = "http://localhost:1313/"
title = "Test Example"

enableRobotsTXT = true

# Hugo allows theme composition (and inheritance). The precedence is from left to right.
theme = ["docsy"]

# Will give values to .Lastmod etc.
enableGitInfo = true

# Language settings
contentDir = "content/en"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
# Useful when translating.
enableMissingTranslationPlaceholders = true

disableKinds = ["taxonomy", "taxonomyTerm"]

# Highlighting config
pygmentsCodeFences = true
pygmentsUseClasses = false
# Use the new Chroma Go highlighter in Hugo.
pygmentsUseClassic = false
#pygmentsOptions = "linenos=table"
# See https://help.farbox.com/pygments.html
pygmentsStyle = "tango"

 # First one is picked as the Twitter card image if not set on page.
 #images = ["images/project-illustration.png"]

# Configure how URLs look like per section.
[permalinks]
blog = "/:section/:year/:month/:day/:slug/"

## Configuration for BlackFriday markdown parser: https://github.com/russross/blackfriday
[blackfriday]
plainIDAnchors = true
hrefTargetBlank = true
angledQuotes = false
latexDashes = true

# Image processing configuration.
[imaging]
resampleFilter = "CatmullRom"
quality = 75
anchor = "smart"

[services]
[services.googleAnalytics]
# Comment out the next line to disable GA tracking. Also disables the feature described in [params.ui.feedback].
id = "UA-00000000-0"

# Language configuration

[languages]
[languages.en]
title = "CDAP"
description = "Custom description"
languageName ="English"
# Weight used for sorting.
weight = 1
time_format_default = "02.01.2006"
time_format_blog = "02.01.2006"


# Everything below this are Site Params

[params]
copyright = "Global Inc"
privacy_policy = "https://policies.google.com/privacy"
github_repo = "https://github.com/google/docsy-example"

# Google Custom Search Engine ID. Remove or comment out to disable search.
gcs_engine_id = "011737558837375720776:fsdu1nryfng"

# User interface configuration
[params.ui]
# Enable to show the side bar menu in its compact state.
sidebar_menu_compact = false
#  Set to true to disable breadcrumb navigation.
breadcrumb_disable = false

# Adds a H2 section titled "Feedback" to the bottom of each doc. The responses are sent to Google Analytics as events.
# This feature depends on [services.googleAnalytics] and will be disabled if "services.googleAnalytics.id" is not set.
# If you want this feature, but occasionally need to remove the "Feedback" section from a single page,
# add "hide_feedback: true" to the page's front matter.
[params.ui.feedback]
enable = true
# The responses that the user sees after clicking "yes" (the page was helpful) or "no" (the page was not helpful).

[[languages.en.menu.main]]
identifier = "Get Started"
name = "GET STARTED"
url = "/"
weight = 10

[[languages.en.menu.main]]
identifier = "Downloads"
name = "DOWNLOADS"
url = "/downloads/"
weight = 20

[[languages.en.menu.main]]
identifier = "Case Studies"
parent = "RESOURCES"
name = "Case Studies"
url = "/resources/case-studies"
weight = 1

[[languages.en.menu.main]]
identifier = "Accelerators"
parent = "RESOURCES"
name = "Accelerators"
url = "/resources/accelerators"
weight = 2

[[languages.en.menu.main]]
identifier = "Plugins"
parent = "RESOURCES"
name = "Plugins"
url = "/resources/plugins"
weight = 3

[[languages.en.menu.main]]
identifier = "Videos"
parent = "RESOURCES"
name = "Videos"
url = "/resources/videos"
weight = 4

[[languages.en.menu.main]]
identifier = "Documentation"
parent = "RESOURCES"
post = "<i class='fas fa-external-link-alt external-link-icon'></i>"
name = "Documentation"
url = "/resources/documentation"
weight = 5

[[languages.en.menu.main]]
identifier = "Blog"
parent = "RESOURCES"
post = "<i class='fas fa-external-link-alt external-link-icon'></i>"
name = "Blog"
url = "/resources/blog"
weight = 6

[[languages.en.menu.main]]
identifier = "RESOURCES"
name = "RESOURCES"
url = "/resources/"
weight = 30

[[languages.en.menu.main]]
identifier = "Community"
name = "COMMUNITY"
url = "/community/"
weight = 40
