<div class="d-flex justify-content-between">
  <h3 class="hero__team-title">The team behind CDAP</h3>
  <div class="p-0">
    <button id="hideTeamBtn"
            class="navbar-toggler p-0"
            type="button">
      <span class="close"></span>
    </button>
    <span class="d-block hero__closeBtn">Close</span>
  </div>
</div>
<div class="hero__divider mb-4 mt-2"></div>
<ul class="hero__team">
  <li>Ajai Narayanan</li>
  <li>Albert Shau</li>
  <li>Ali Anwar</li>
  <li>Andreas Neumann</li>
  <li>Bhooshan Mogal</li>
  <li>Derek Wood</li>
  <li>Edwin Elia</li>
  <li>Jay Jin</li>
  <li>Lea Cuniberti-Duran</li>
  <li>Nitin Motgi</li>
  <li>Poorna Chandra</li>
  <li>Rohit Sinha</li>
  <li>Sagar Kapare</li>
  <li>Sreevatsan Raman</li>
  <li>Terence Yim</li>
  <li>Tony Hajdari</li>
  <li>Vinisha Shah</li>
  <li>Yaojie Feng</li>
</ul>
