<section class="solutions {{ with .isGray }} case-studies--background-gray {{ end }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="solutions__title not-apply">{{ .title }}</h3>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row justify-content-center justify-content-lg-between">
      {{ range $item := .items }}
      <div class="col-lg-3 col-md-12 mb-5 solutions__block">
        <img class="solutions__image mb-2" src="{{ $item.img }}"/>
        <div class="solutions__body d-flex flex-column justify-content-between text-center">
          <h6 class="solutions__header not-apply mb-3">{{ $item.title }}</h6>
          <p class="solutions__description not-apply">{{ $item.description }}</p>
          <a href="{{ $item.linkUrl }}">{{ $item.linkTitle }}</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
