<section class="solutions {{ with .isGray }} case-studies--background-gray {{ end }}">
  <div class="container">
    <h3 class="solutions__title not-apply">{{ .title }}</h3>
  </div>
  <div class="container mt-4">
    <div class="row">
      {{ range $item := .items }}
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="solutions__block">
          <div class="solutions__image-wrapper">
            <img class="solutions__image mb-2" style="{{ with $item.imgHeight }} height: {{ . }};{{ end }}"
                 src="{{ $item.img }}"/>
          </div>
          <div class="solutions__body d-flex flex-column justify-content-between text-center">
            <h6 class="solutions__header not-apply">{{ $item.title }}</h6>
            <p class="solutions__description not-apply">{{ $item.description }}</p>
            <a href="{{ $item.linkUrl }}">{{ $item.linkTitle }}</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
