:root {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $base-font-family;
    color: $white;
  }

  main {
    flex: 1 0 auto;
  }

  p {
    &:not(.not-apply) {
      color: $black;
      margin: 0;
      font-size: 20px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    &:not(.not-apply) {
      margin: 0;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.2px;
    }
  }

  h2 {
    &:not(.not-apply) {
      font-size: 35px;
    }
  }

  h4 {
    &:not(.not-apply) {
      font-size: 25px;
    }
  }

  a {
    color: $azure;

    &:hover {
      color: $azure;
    }
  }

  section {
    padding: 100px 0 50px;
  }

  footer {
    padding: 36px 0 90px;

    @include media-breakpoint-up(sm) {
      padding: 40px 0 176px;
    }
  }
}
