<section class="videos pb-5" id="videos">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="plugins__title ml-3">{{ .title }}</h2>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="videos__wrapper">
      {{ range $item := .items }}
        <div class="videos-page__video-block mb-1 ml-auto mr-auto ml-md-0 mr-md-4">
          <div class="videos-page__modalBtn" onclick="openVideoModal({{ .title }}, 'https://www.youtube.com/embed/'+{{ .videoId }})"></div>
          <img class="videos-page__video m-auto" src="{{ .preview }}">
          <p class="videos-page__title mt-3 text-dark not-apply">{{ .title }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "components/videos/video-modal" . }}
