.community {
  h1, h2, h3, h4 {
    color: $greyish-brown;
  }

  p {
    color: $black;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.2px;
  }

  img {
    width: unset;
    height: 25px;
  }
}

.contribute {
  background-color: $white-15;
}

.get-connected {
  &__item {
    display: flex;
    flex-direction: column;
    min-height: 240px;
    border-right: solid 1px #bbbbbb;
  }

  &__wrapper {
    min-width: 41px;
  }
}
