.plugins {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.41);
    background-color: $white;

    padding: 39px 0 50px;
    min-height: 298px;

    img {
      width: auto;
      height: auto;
    }
  }

  &__title {
    color: $black;
  }

  &__block-title {
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    color: $black;
    margin-top: 27px;
    text-align: center;
  }

  &__link {
    margin-left: 74px;
  }

  &__image-wrapper {
    min-height: 130px;
  }
}

.plugins-small {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 1rem;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(auto-fill, 146px);
    }
  }

  &__image {
    min-height: 60px;
    color: $black;

    img {
      height: auto;
      width: 53px;
    }
  }

  &__title {
    font-size: 16px;
    text-align: center;
    color: $black;
    width: 80%;
    overflow-wrap: break-word
  }

  &__type {
    font-size: 14px;
    color: $brownish-grey;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 13px;
    width: 146px;
    height: 235px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.41);
  }

  &__search-result {
    color: $black;
  }

  &__search-input {
    display: block;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    padding: 0.375rem 4.25rem 0.375rem 1.5rem;
    height: 64px;
    border: solid 1px #cbc9c9;
  }

  &__search-wrapper {
    position: relative;

    .input-group-prepend {
      &::after {
        content: '';
        display: inline-flex;
        position: absolute;
        right: 47px;
        top: 50%;
        transform: translate(50%, -50%);
        background: url('/images/icons/search.svg');
        height: 34px;
        width: 34px;
      }
    }
  }
}
