{{ define "main" }}

{{ partial "components/hero-panel" . }}

<section>
  {{ $data := index .Site.Data .Site.Language.Lang }}
  {{ with $why := $data.pipelines.why }}
  {{ range $why }}
  {{ partial "components/why" . }}
  {{ end }}
  {{ end }}
</section>

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $features := $data.pipelines.features_pipeline }}
{{ range $features }}
{{ partial "components/features" . }}
{{ end }}
{{ end }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $plugins := $data.pipelines.pipeline_plugins }}
{{ range  $plugins }}
{{ partial "components/pipelines/plugins" . }}
{{ end }}
{{ end }}

{{ end }}
