{{ define "main" }}

{{ partial "components/hero-panel" . }}

<section>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 class="why__title text-center">
          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ with $features := $data.why_pipelines.why }}
          {{ range $features }}
          {{ .title }}
          {{ end }}
          {{ end }}
        </h2>
        <p class="why__paragraph text-center mt-3 d-sm-flex d-none">
          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ with $features := $data.why_pipelines.why }}
          {{ range $features }}
          {{ .description }}
          {{ end }}
          {{ end }}
        </p>
      </div>
    </div>
    {{ $data := index .Site.Data .Site.Language.Lang }}
    {{ with $why := $data.why_pipelines.why }}
    {{ range $why }}
    {{ partial "components/why/why" . }}
    {{ end }}
    {{ end }}
  </div>
</section>

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $features := $data.features.features_pipeline }}
{{ range $features }}
  {{ partial "components/feature/feature" . }}
{{ end }}
{{ end }}

<section class="plugins">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="plugins__title">Plugins</h2>
        <p class="mt-4 mt-lg-0">Pipelines support a variety of plugins for connecting to cloud and onprem services as well as to perform data transformations. </p>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      {{ $data := index .Site.Data .Site.Language.Lang }}
      {{ with $plugins := $data.plugins }}
      {{ range $plugins }}
      <div class="col-lg-3 col-md-6">
        <div class="plugins__item mt-5 mt-lg-0">
          <div class="plugins__image-wrapper">
            <img src="{{ .image }}" class="plugins__image"/>
          </div>
          <div class="plugins__block-title">{{ .title }}</div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="plugins__footer d-flex flex-column flex-lg-row align-items-center">
          <a href="">
            <button class="btn-small">View all connectors</button>
          </a>
          <a href="#" class="plugins__link mt-5 ml-0 mt-lg-0 ml-lg-5">View all transformations</a>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
