<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
      {{ partial "hero.html" . }}
      {{ partial "announcement.html" . }}
      {{ partial "why.html" . }}
      {{ partial "features.html" . }}
      {{ partial "accelerators.html" . }}
      {{ partial "testimonials.html" . }}
      {{ partial "companies.html" . }}
      {{ partial "footer.html" . }}
    {{ partialCached "scripts.html" . }}
  </body>
</html>
