$base-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Google Sans', sans-serif;
$base-font-size: 16px;

$white: #ffffff;
$white-5: #f5f5f5;
$white-10: #fffefe;
$white-15: #eeeeee;
$white-20: #d8d8d8;
$black: #333333;
$black-5: #000000;
$black-10: #001a29;
$gray: #bbbbbb;
$gray-5: #979797;
$gray-10: #dddddd;
$gray-15: #efefef;
$silver: #eff0f0;
$greyish-brown: #444444;
$orange: #fd6003;
$orange-5: #b24300;
$orange-10: #fc6002;
$dark-orange: #c44c04;
$deep-orange: #da5201;
$cerulean-blue: #0778ea;
$deep-sky-blue: #0c7bea;
$deep-sky-blue-5: #1078ff;
$azure: #069bf3;
$bright-orange: #fa5f03;
$bright-orange-5: #fc5f02;
$brownish-grey: #666666;
$dark-grey: #323333;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
);
