{{ define "main" }}

{{ partial "components/hero-panel" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<div class="community">
  <section class="get-connected">
    {{ with $tabs := $data.community.get_connected }}
    {{ range $tabs }}
    {{ partial "components/community/get-connected" . }}
    {{ end }}
    {{ end }}
  </section>

  <section class="contribute">
    {{ with $tabs := $data.community.contribute}}
    {{ range $tabs }}
    {{ partial "components/community/contribute" . }}
    {{ end }}
    {{ end }}
  </section>

  <section class="twitter">
    {{ with $tabs := $data.community.twitter }}
    {{ range $tabs }}
    {{ partial "components/community/twitter" . }}
    {{ end }}
    {{ end }}
  </section>

</div>

<section class="announcement not-apply my-5">
  {{ with $data.community.announcement }}
  {{ partial "components/announcement.html" . }}
  {{ end }}
</section>

{{ end }}
