<section class="accelerators">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="accelerators__item mt-5 mt-lg-0" tabindex="-1">
                    <img src="/images/accelerations-pipelines.png" class="accelerators__item-image"/>
                    <div class="accelerators__inner-wrapper">
                        <h4 class="accelerators__item-title">Pipelines</h4>
                        <p class="accelerators__item-body mt-3">Pipelines lets extract, transform, blend, aggregate and load data to/from
                            a
                            variety of on-prem and cloud data sources.</p>
                        <a href="#" class="d-flex mt-4">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="accelerators__item mt-5 mt-lg-0" tabindex="-1">
                    <img src="/images/accelerations-pipelines.png" class="accelerators__item-image"/>
                    <div class="accelerators__inner-wrapper">
                        <h4 class="accelerators__item-title">Pipelines</h4>
                        <p class="accelerators__item-body mt-3">Pipelines lets extract, transform, blend, aggregate and load data to/from
                            a
                            variety of on-prem and cloud data sources.</p>
                        <a href="#" class="d-flex mt-4">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="accelerators__item mt-5 mt-lg-0" tabindex="-1">
                    <img src="/images/accelerations-pipelines.png" class="accelerators__item-image"/>
                    <div class="accelerators__inner-wrapper">
                        <h4 class="accelerators__item-title">Pipelines</h4>
                        <p class="accelerators__item-body mt-3">Pipelines lets extract, transform, blend, aggregate and load data to/from
                            a
                            variety of on-prem and cloud data sources.</p>
                        <a href="#" class="d-flex mt-4">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="accelerators__item mt-5 mt-lg-0" tabindex="-1">
                    <img src="/images/accelerations-pipelines.png" class="accelerators__item-image"/>
                    <div class="accelerators__inner-wrapper">
                        <h4 class="accelerators__item-title">Pipelines</h4>
                        <p class="accelerators__item-body mt-3">Pipelines lets extract, transform, blend, aggregate and load data to/from
                            a
                            variety of on-prem and cloud data sources.</p>
                        <a href="#" class="d-flex mt-4">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn-cta mt-5">Get started</button>
                </div>
            </div>
        </div>
    </div>
</section>