<section class="announcement mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="announcement__wrapper">
          <div id="carouselCaptions"
               class="carousel slide main__carousel"
               data-ride="carousel"
               data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselCaptions" data-slide-to="1"></li>
              <li data-target="#carouselCaptions" data-slide-to="2"></li>
              <li data-target="#carouselCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="announcement__media d-flex flex-column flex-md-row">
                  <img src="images/announcement.jpg" class="announcement__carousel-img align-self-top"
                       alt="announcement">
                  <div class="announcement__media-body">
                    <h2 class="announcement__title not-apply">Annoucement title goes here</h2>
                    <p> Lorem ipsum dolor sit amet, consecteru adipiscing elit. Lorem ipsum dolor sit amet, consecteru
                      adipiscing elit.</p>
                    <a class="btn btn-link mt-3" href="#">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="announcement__media d-flex flex-column flex-md-row">
                  <img src="images/announcement.jpg" class="announcement__carousel-img align-self-top"
                       alt="announcement">
                  <div class="announcement__media-body">
                    <h2 class="announcement__title not-apply">Annoucement title goes here</h2>
                    <p> Lorem ipsum dolor sit amet, consecteru adipiscing elit. Lorem ipsum dolor sit amet, consecteru
                      adipiscing elit.</p>
                    <a class="btn btn-link mt-3" href="#">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="announcement__media d-flex flex-column flex-md-row">
                  <img src="images/announcement.jpg" class="announcement__carousel-img align-self-top"
                       alt="announcement">
                  <div class="announcement__media-body">
                    <h2 class="announcement__title not-apply">Annoucement title goes here</h2>
                    <p> Lorem ipsum dolor sit amet, consecteru adipiscing elit. Lorem ipsum dolor sit amet, consecteru
                      adipiscing elit.</p>
                    <a class="btn btn-link mt-3" href="#">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="announcement__media d-flex flex-column flex-md-row">
                  <img src="images/announcement.jpg" class="announcement__carousel-img align-self-top"
                       alt="announcement">
                  <div class="announcement__media-body">
                    <h2 class="announcement__title not-apply">Annoucement title goes here</h2>
                    <p> Lorem ipsum dolor sit amet, consecteru adipiscing elit. Lorem ipsum dolor sit amet, consecteru
                      adipiscing elit.</p>
                    <a class="btn btn-link mt-3" href="#">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
