<section class="companies">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="companies__title">Companies using CDAP</h2>
        <a href="#">Read case studies</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-3 col-md-6 d-flex justify-content-lg-start justify-content-center mt-5 mt-lg-0">
        <a href="#">
          <img src="images/companies-logo.png" class="companies__image"/>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 d-flex justify-content-lg-start justify-content-center mt-5 mt-lg-0">
        <a href="#">
          <img src="images/companies-logo.png" class="companies__image"/>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 d-flex justify-content-lg-end justify-content-center mt-5 mt-lg-0">
        <a href="#">
          <img src="images/companies-logo.png" class="companies__image"/>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 d-flex justify-content-lg-end justify-content-center mt-5 mt-lg-0">
        <a href="#">
          <img src="images/companies-logo.png" class="companies__image"/>
        </a>
      </div>
    </div>
    <div class="companies__wrapper mt-0 mt-sm-5">
      <div class="collapse" id="companies">
        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex justify-content-lg-start justify-content-center mt-5 mt-lg-0">
            <a href="#">
              <img src="images/companies-logo.png" class="companies__image"/>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 d-flex justify-content-lg-start justify-content-center mt-5 mt-lg-0">
            <a href="#">
              <img src="images/companies-logo.png" class="companies__image"/>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 d-flex justify-content-lg-end justify-content-center mt-5 mt-lg-0">
            <a href="#">
              <img src="images/companies-logo.png" class="companies__image"/>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 d-flex justify-content-lg-end justify-content-center mt-5 mt-lg-0">
            <a href="#">
              <img src="images/companies-logo.png" class="companies__image"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="companies__wrapper">
          <div class="companies__cta mt-4" id="toggleBtn" data-toggle="collapse" href="#companies" aria-expanded="false"
             aria-controls="companies">Show more</div>
        </div>
      </div>
    </div>
  </div>
</section>
