<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="features__title">CDAP features</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="features__block mt-5">
                    <h3 class="features__title mb-4">Rapid development</h3>
                    <p class="features__body">
                        Developer SDK and APIs with abstractions over common data processing patterns; Sandbox mode, programmatic
                        and
                        UI driven debugging; In-memory mode and testing framework to simplify testing; Support for cutting edge
                        Cloud,
                        Apache Hadoop and Apache Spark technologies.&nbsp;<a href="#">Learn More</a>
                    </p>
                </div>
                <div class="features__block mt-5">
                    <h3 class="features__title mb-4">Seamless operations</h3>
                    <p class="features__body">
                        REST APIs and CLI for every interaction; Time and process based scheduling; Standardized logs and metrics
                        for
                        all execution environments.&nbsp;<a href="#">Learn More</a>
                    </p>
                </div>
                <div class="features__block mt-5">
                    <h3 class="features__title mb-4">Extensible and reusable</h3>
                    <p class="features__body">
                        Templates and blueprints for common use-cases; Hub for sharing pre-built plugins, applications and
                        solutions;
                        Extensible APIs for security, metadata, runtimes and storage.&nbsp;<a href="#">Learn More</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="features__block mt-5">
                    <h3 class="features__title mb-4">Enterprise ready</h3>
                    <p class="features__body">
                        Metadata repository with automatic technical and operational metadata capture; Business metadata
                        annotations;
                        Data discovery through search based on metadata; Data governance with dataset and field level lineage and
                        auditing; Integration with enterprise security systems.&nbsp;<a href="#">Learn More</a>
                    </p>
                </div>
                <div class="features__block mt-5">
                    <h3 class="features__title mb-4">Portable runtime environments</h3>
                    <p class="features__body">
                        Build once, run anywhere through portability across runtime environments such as Kubernetes, Apache Hadoop
                        YARN
                        and Docker.&nbsp;<a href="#">Learn More</a>
                    </p>
                </div>
                <div class="features__block mt-5">
                    <h3 class="features__title mb-4">Hybrid and multi cloud</h3>
                    <p class="features__body">
                        Interoperability across on-premises and Cloud environments; Support for all major public cloud providers
                        such as
                        Amazon Web Services, Microsoft Azure and Google Cloud Platform.&nbsp;<a href="#">Learn More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn-cta mt-5">Get started</button>
            </div>
        </div>
    </div>
</section>