<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="features__title">{{ .Site.Data.features.title }}</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      {{ range $element := .Site.Data.features.firstColumn }}
      <div class="features__block mt-5">
        <h4 class="features__title mb-4">{{ $element.title }}</h4>
        <p class="features__body">
          {{ $element.description }}<a href="{{ $element.linkUrl }}">Learn More</a>
        </p>
      </div>
      {{ end }}
    </div>
    <div class="col-lg-6 col-md-12">
      {{ range $element := .Site.Data.features.secondColumn }}
      <div class="features__block mt-5">
        <h4 class="features__title mb-4">{{ $element.title }}</h4>
        <p class="features__body">
          {{ $element.description }}<a href="{{ $element.linkUrl }}">Learn More</a>
        </p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
