<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column flex-md-row align-items-start justify-content-md-start">
        <ul class="footer__block footer__block--margin-right list-unstyled">
          <h5 class="footer__title">CDAP</h5>
          <hr class="footer__line--small ml-0 mt-2 mb-2">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/get-started">Get started - Cloud</a>
          </li>
          <li>
            <a href="/get-started/#premises">Get started - On-Prem</a>
          </li>
        </ul>

        <div class="foooter__wrapper mt-md-0 mt-5">
          <div class="footer__block">
            <h5 class="footer__title">RESOURCES</h5>
            <hr class="footer__line ml-0 mt-2 mb-2">
          </div>
          <div class="d-flex">
            <div class="footer__block">
              <ul class="list-unstyled mr-5">
                <li>
                  <a href="#">Case studies</a>
                </li>
                <li>
                  <a href="/accelerators">Accelerators</a>
                </li>
                <li>
                  <a href="/plugins">Plugins</a>
                </li>
              </ul>
            </div>
            <div class="footer__inner-wrapper">
              <ul class="list-unstyled">
                <li>
                  <a href="/accelerators/preparation/#videos">Videos</a>
                </li>
                <li>
                  <a href="https://docs.cdap.io/current">Documentation</a>
                </li>
                <li>
                  <a href="https://medium.com/cdapio">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__line mt-5"></div>

    <div class="d-flex justify-content-lg-start mt-3">
      <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">License&nbsp;&nbsp;|&nbsp;&nbsp;</a>
      <a href=" https://policies.google.com/terms" target="_blank">Terms&nbsp;&nbsp;|&nbsp;&nbsp;</a>
      <a href="https://policies.google.com/privacy" target="_blank">Privacy</a>
    </div>
  </div>
</footer>
