<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex flex-column flex-md-row align-items-center justify-content-md-center">
        <ul class="footer__block footer__block--margin-right list-unstyled">
          <h5 class="footer__title">CDAP</h5>
          <hr class="footer__line--small ml-0 mt-2 mb-2">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Get started - Cloud</a>
          </li>
          <li>
            <a href="#">Get started - On-Prem</a>
          </li>
        </ul>

        <div>
          <div class="footer__block">
            <h5 class="footer__title">RESOURCES</h5>
            <hr class="footer__line ml-0 mt-2 mb-2">
          </div>
          <div class="d-flex">
            <div class="footer__block">
              <ul class="list-unstyled mr-5">
                <li>
                  <a href="#">Case studies</a>
                </li>
                <li>
                  <a href="#">Accelerators</a>
                </li>
                <li>
                  <a href="#">Plugins</a>
                </li>
              </ul>
            </div>
            <div>
              <ul class="list-unstyled">
                <li>
                  <a href="#">Videos</a>
                </li>
                <li>
                  <a href="#">Documentation</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__line mr-auto ml-auto w-75 mt-5"></div>

    <div class="d-flex justify-content-center mt-3">
      <a href="#">License</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">Terms</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">Privacy</a>
    </div>
  </div>
</footer>
