<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="w-100">
        <div class="header__wrapper d-flex flex-column flex-md-row justify-content-between">
          <div class="media navbar navbar-dark">
            <a href="/">
              <img class="header__logo" src="{{ .Site.Params.logo }}" alt="logo">
            </a>
            <button class="navbar-toggler collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="my-1 close">X</span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <nav class="navbar navbar-expand-md p-0 mt-2">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                  {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                      <a class="header__item header__item-dropdown">
                        {{ .Name }}
                      </a>
                      <div class="dropdown-menu">
                        {{ range .Children }}
                          <a class="dropdown-item" href="{{ .URL }}">
                            <span>{{ .Name }}</span>
                            {{ .Post }}
                          </a>
                        {{ end }}
                      </div>
                    </li>
                    {{ else }}
                    <li class="nav-item {{ if $currentPage.HasMenuCurrent " main" . }}active{{ end }}">
                      <a class="header__item" href="{{ .URL }}">
                        <span>{{ .Name }}</span>
                        {{ .Post }}
                      </a>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
