<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h2 class="hero__title">The Data Analytics Platform</h2>
                <p class="hero__paragraph">100% open source, integrated framework that accelerates application development for
                    data analytics</p>
            </div>
            <div class="col-lg-6 col-md-12 mt-4 mt-lg-0">
                <div class="hero__block">
                    <ul class="hero__nav-tabs nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="hero__nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home"
                               aria-selected="true">On Cloud</a>
                        </li>
                        <li class="nav-item">
                            <a class="hero__nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile"
                               aria-selected="false">On Premises</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="hero__tab-pane tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="hero__tab-title text-center mt-4">Get Started in the Cloud</h3>
                            <div class="hero__tab-body text-center mt-4">Run CDAP on any major public cloud provideer including Amazon Web
                                Services,
                                Microsoft Azure and
                                Google Cloud Platform
                            </div>
                            <button class="btn-cta mt-3">Get started</button>
                        </div>
                        <div class="hero__tab-pane tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h3 class="hero__tab-title text-center mt-4">Get Started in the Cloud</h3>
                            <div class="hero__tab-body text-center mt-4">Run CDAP on any major public cloud provideer including Amazon Web
                                Services,
                                Microsoft Azure and
                                Google Cloud Platform
                            </div>
                            <button class="btn-cta mt-3">Get started</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
