<div class="container-fluid">
  <div class="row">
    <div class="header w-100">
      <div class="container">
        <div class="header__wrapper d-flex flex-column flex-md-row justify-content-between">
          <div class="media navbar navbar-dark">
            <img class="header__logo" src="images/logo.png" alt="logo">
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

          <nav class="navbar navbar-expand-md p-0 mt-2">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="header__item" href="#">GET STARTED</a>
                </li>
                <li class="nav-item">
                  <a class="header__item" href="#">DOWNLOADS</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="header__item header__item-dropdown"
                     href="#">
                    RESOURCES
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Case Studies</a>
                    <a class="dropdown-item" href="#">Accelerators</a>
                    <a class="dropdown-item" href="#">Plugins</a>
                    <a class="dropdown-item" href="#">Videos</a>
                    <a class="dropdown-item" href="#">Documentation <i class="fas fa-external-link-alt external-link-icon"></i></a>
                    <a class="dropdown-item" href="#">Blog <i class="fas fa-external-link-alt external-link-icon"></i></a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="header__item" href="#">COMMUNITY</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
