<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="accelerators__title">Testimonials</h2>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 col-md-12 mt-5 mt-lg-0">
        <p class="testimonials__testimonial font-italic">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          commodo iaculis ex, non rhoncus arcu blandit
          sed. Fusce eget pharetra nulla, vel fermentum ante. Phasellus gravida non diam sed vehicula.”
        </p>
        <p class="testimonials__author">– Name Lastname, job title, Company name</p>
      </div>
      <div class="col-lg-6 col-md-12 mt-5 mt-lg-0">
        <p class="testimonials__testimonial font-italic">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          commodo iaculis ex, non rhoncus arcu blandit
          sed. Fusce eget pharetra nulla, vel fermentum ante. Phasellus gravida non diam sed vehicula.”
        </p>
        <p class="testimonials__author">– Name Lastname, job title, Company name</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn-cta mt-5">Get started</button>
        </div>
      </div>
    </div>
  </div>
</section>
