<section class="why">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 class="why__title text-center">Why CDAP</h2>
        <p class="why__paragraph text-center mt-3 d-sm-flex d-none">CDAP lets developers, business analysts and data scientists focus on
          insights,
          analytics and business value instead of wrestling with infrastructure, and integration.
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-3 col-md-6">
        <div class="why__block d-flex flex-column align-items-center mt-lg-0">
          <img class="why__image" src="/images/icons/icon-1.svg">
          <h3 class="why__block-title text-center mt-4 not-apply">Reduced complexity</h3>
          <div class="why__block-body text-center mt-4 d-sm-flex d-none">
            CDAP lowers barrier to entry to complex technologies. It increases developer productivity through focus on
            business logic; and leads to
            accelerated ROI
          </div>
          <a class="d-sm-none d-flex mt-4" href="#">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="why__block why__block--no-border-md d-flex flex-column align-items-center mt-5 mt-lg-0">
          <img class="why__image" src="/images/icons/icon-2.svg">
          <h3 class="why__block-title text-center mt-4 not-apply">Increased velocity</h3>
          <div class="why__block-body text-center mt-4 d-sm-flex d-none">
            CDAP lowers barrier to entry to complex technologies. It increases developer productivity through focus on
            business logic; and leads to
            accelerated ROI
          </div>
          <a class="d-sm-none d-flex mt-4" href="#">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="why__block d-flex flex-column align-items-center mt-5 mt-lg-0">
          <img class="why__image" src="/images/icons/icon-3.svg">
          <h3 class="why__block-title text-center mt-4 not-apply">Increased flexibility</h3>
          <div class="why__block-body text-center mt-4 d-sm-flex d-none">
            CDAP lowers barrier to entry to complex technologies. It increases developer productivity through focus on
            business logic; and leads to
            accelerated ROI
          </div>
          <a class="d-sm-none d-flex mt-4" href="#">Learn More</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="why__block why__block--no-border d-flex flex-column align-items-center mt-5 mt-lg-0">
          <img class="why__image" src="/images/icons/icon-4.svg">
          <h3 class="why__block-title text-center mt-4 not-apply">Improved visibility</h3>
          <div class="why__block-body text-center mt-4 d-sm-flex d-none">
            CDAP lowers barrier to entry to complex technologies. It increases developer productivity through focus on
            business logic; and leads to
            accelerated ROI
          </div>
          <a class="d-sm-none d-flex mt-4" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
