<section class="services">
  <div class="container">
    <div class="services__header">
      <h6 class="services__subTitle not-apply">{{ .subTitle }}</h6>
      <h2 class="my-2">{{ .title }}</h2>
      <p>{{ .description }}</p>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      {{ range $index, $item := .items }}
      <div {{ if $item.id }} id="{{ $item.id }}" {{ end }} class="col-lg-4 d-flex services__wrapper">
        <div class="d-flex flex-column justify-content-between align-items-center services__block">
          <div class="services__image-block">
            <img class="services__image"
                 src="{{ $item.img }}"
                 {{ with $item.imgHeight }}
                 style="height:{{ $item.imgHeight }}"
                 {{ end }}>
          </div>
          <h3 class="mt-4 not-apply text-center">{{ $item.title | safeHTML }}</h3>
          <p class="mt-1 d-sm-flex not-apply">{{ $item.description | safeHTML }}</p>
          <div class="w-100">
            <a role="button" class="btn services__button" href="{{ $item.link }}" target="_blank">
              {{ $item.linkTitle }}
            </a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
