{{ define "main" }}

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h3 class="hero__c-title not-apply">CDAP</h3>
        <h2 class="hero__title mt-4 not-apply">The Data Analytics Platform</h2>
        <p class="hero__paragraph not-apply">A 100% open source, integrated framework that accelerates application
          development for
          data analytics</p>
      </div>
      <div class="col-lg-6 col-md-12 mt-4 mt-lg-0">
        <div class="hero__block">
          <ul class="hero__nav-tabs nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="hero__nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                 aria-controls="home"
                 aria-selected="true">On Cloud</a>
            </li>
            <li class="nav-item">
              <a class="hero__nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                 aria-controls="profile"
                 aria-selected="false">On Premises</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="hero__tab-pane tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="hero__tab-title text-center mt-4">Get Started in the Cloud</h3>
              <div class="hero__tab-body text-center mt-4">Run CDAP on any major public cloud provideer including Amazon
                Web
                Services,
                Microsoft Azure and
                Google Cloud Platform
              </div>
              <button class="btn-cta mt-3">Get started</button>
            </div>
            <div class="hero__tab-pane tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <h3 class="hero__tab-title text-center mt-4">Get Started in the Cloud</h3>
              <div class="hero__tab-body text-center mt-4">Run CDAP on any major public cloud provideer including Amazon
                Web
                Services,
                Microsoft Azure and
                Google Cloud Platform
              </div>
              <button class="btn-cta mt-3">Get started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="announcement">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="announcement__wrapper">
          <div id="carouselCaptions"
               class="carousel slide main__carousel"
               data-ride="carousel"
               data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselCaptions" data-slide-to="1"></li>
              <li data-target="#carouselCaptions" data-slide-to="2"></li>
              <li data-target="#carouselCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              {{ partial "gallery.html" . }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 class="why__title text-center">
          {{ with .GetPage "why.md" }}
            {{ .Title }}
          {{ end }}
        </h2>
        <p class="why__paragraph text-center mt-3 d-sm-flex d-none">
          {{ with .GetPage "why.md" }}
            {{ .Description }}
          {{ end }}
        </p>
      </div>
    </div>
    <div class="row mt-5 pb-5">
      {{ with .GetPage "why.md" }}
        {{ .Content }}
      {{ end }}
    </div>
  </div>
</section>

<section class="features">
  {{ partial "features.html" . }}
  <div class="row">
    <div class="col-12 text-center pb-5">
      <button class="btn-cta mt-5">Get started</button>
    </div>
  </div>
</section>

<section class="accelerators">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="accelerators__title">
          {{ with .GetPage "accelerators.md" }}
          {{ .Title }}
          {{ end }}
        </h2>
      </div>
    </div>
  </div>
  {{ with .GetPage "accelerators.md" }}
  {{ .Content }}
  {{ end }}
</section>

<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="accelerators__title">Testimonials</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{ range where .Site.RegularPages "Type" "in" (slice "testimonials") }}
      <div class="col-lg-6 col-md-12 mt-5 mt-lg-4">
        <p class="testimonials__testimonial font-italic">{{ .Content | markdownify }}</p>
        <p class="testimonials__author">– {{ .Params.name }}, {{ .Params.job }}, {{ .Params.company }}</p>
      </div>
      {{ end }}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn-cta mt-5">Get started</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="companies">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="companies__title">
          {{ with .GetPage "companies.md" }}
            {{ .Title }}
          {{ end }}
        </h2>
        <a href="#">Read case studies</a>
      </div>
    </div>
  </div>
  <div class="container">
    {{ with .GetPage "companies.md" }}
      {{ .Content }}
    {{ end }}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="companies__wrapper">
          <div class="companies__cta mt-4" id="toggleBtn" data-toggle="collapse" href="#companies" aria-expanded="false"
               aria-controls="companies">Show more
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
