{{ define "main" }}

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h3 class="hero__c-title not-apply">{{ .Site.Params.Title }}</h3>
        <h2 class="hero__title mt-4 not-apply">{{ .Site.Params.description | safeHTML }}</h2>
        <p class="hero__paragraph not-apply">{{ .Site.Params.about | safeHTML }}</p>
      </div>
      <div class="col-lg-6 col-md-12 mt-4 mt-lg-0">
        <div class="hero__block">
          <ul class="hero__nav-tabs nav nav-tabs" id="myTab" role="tablist">
            {{ $data := index .Site.Data .Site.Language.Lang }}
            {{ with $tabs := $data.tabs }}
            {{ range $tabs }}
              <li class="nav-item">
                <a class="hero__nav-link {{ if .active }} active {{ end }}"
                   id="{{ .id }}-tab"
                   data-toggle="tab"
                   href="#{{ .id }}"
                   role="tab"
                   aria-controls="{{ .id }}"
                   aria-selected="true">{{ .tabTitle }}</a>
              </li>
            {{ end }}
            {{ end }}
          </ul>
          <div class="tab-content" id="myTabContent">
            {{ $data := index .Site.Data .Site.Language.Lang }}
            {{ with $tabs := $data.tabs }}
            {{ range $tabs }}
            <div class="hero__tab-pane tab-pane fade {{ if .active }} show active {{ end }}"
                 id="{{ .id }}"
                 role="tabpanel"
                 aria-labelledby="home-tab">
              <h3 class="hero__tab-title text-center mt-4">{{ .title }}</h3>
              <div class="hero__tab-body text-center mt-4">{{ .description | safeHTML }}</div>
              <a href="{{ .url  | relURL }}" class="d-flex justify-content-center hero__link">
                <button class="btn-cta mt-3">{{ .buttonTitle }}</button>
              </a>
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="announcement not-apply">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="announcement__wrapper">
          {{ partial "gallery.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 class="why__title text-center">
          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ with $features := $data.homepage.why }}
            {{ range $features }}
              {{ .title }}
            {{ end }}
          {{ end }}
        </h2>
        <p class="why__paragraph text-center mt-3 d-sm-flex d-none">
          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ with $features := $data.homepage.why }}
            {{ range $features }}
              {{ .description }}
            {{ end }}
          {{ end }}
        </p>
      </div>
    </div>
    {{ $data := index .Site.Data .Site.Language.Lang }}
      {{ with $why := $data.homepage.why }}
        {{ range $why }}
          {{ partial "components/why/why" . }}
      {{ end }}
    {{ end }}
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="features__title">
          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ with $features := $data.features.features_home }}
            {{ range $features }}
              {{ .title }}
            {{ end }}
          {{ end }}
        </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{ $data := index .Site.Data .Site.Language.Lang }}
      {{ with $features := $data.features.features_home }}
      {{ range $features }}
        {{ range .left_column }}
          <div class="col-lg-6 col-md-12">
            <div class="features__block mt-5">
              <h4 class="features__title mb-4">{{ .header }}</h4>
              <p id="{{ .id }}" class="features__body d-sm-flex collapse">{{ .paragraph }}</p>
              <a id="{{ .id }}btn"
               class="d-sm-none d-flex mt-4"
               href="#"
               data-toggle="collapse"
               data-target="#{{ .id }}"
               onclick="learnMore({{ .id }})">
                Learn More
              </a>
            </div>
          </div>
      {{ end }}
      {{ end }}
      {{ end }}
      {{ $data := index .Site.Data .Site.Language.Lang }}
      {{ with $features := $data.features.features_home }}
      {{ range $features }}
      {{ range .right_column }}
      <div class="col-lg-6 col-md-12">
        <div class="features__block mt-5">
          <h4 class="features__title mb-4">{{ .header }}</h4>
          <p id="{{ .id }}" class="features__body d-sm-flex collapse">{{ .paragraph }}</p>
          <a id="{{ .id }}btn"
             class="d-sm-none d-flex mt-4"
             href="#"
             data-toggle="collapse"
             data-target="#{{ .id }}"
             onclick="learnMore({{ .id }})">
            Learn More
          </a>
        </div>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pb-5">
        {{ with .Site.Params.cta.title }}
          <button class="btn-cta mt-3" onclick="location.href='/cloud'">{{ . }}</button>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="accelerators">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="accelerators__title">
          {{ with .GetPage "accelerators.md" }}
            {{ .Title }}
          {{ end }}
        </h2>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      {{ $data := index .Site.Data .Site.Language.Lang }}
      {{ with $accelerators := $data.accelerators.pipelines }}
      {{ range $accelerators }}
        <div class="col-lg-3 col-md-6 mb-5">
          <div class="accelerators__item mt-md-5 mt-lg-0" tabindex="-1" onclick="window.location='{{ .url | relURL }}'">
            <img src="{{ .image }}" class="accelerators__item-image"/>
            <div class="accelerators__inner-wrapper">
              <h4 class="accelerators__item-title">{{ .title }}</h4>
              <p class="accelerators__item-body not-apply">{{ .body | safeHTML }}</p>
              <a href="{{ .url }}" class="d-flex accelerators__link">{{ .urlTitle }}</a>
            </div>
          </div>
        </div>
      {{ end }}
      {{ end }}
    </div>
    <div class="container accelerators__btnBlock">
      <div class="row">
        <div class="col-12 text-center">
          {{ with .Site.Params.cta.title }}
            <button class="btn-cta mt-3" onclick="location.href='/cloud'">{{ . }}</button>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="accelerators__title">Testimonials</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{ range where .Site.RegularPages "Type" "in" (slice "testimonials") }}
      <div class="col-lg-6 col-md-12 mt-5 mt-lg-4">
        <p class="testimonials__testimonial font-italic">{{ .Content | markdownify }}</p>
        <p class="testimonials__author">– {{ .Params.name }}, {{ .Params.job }}, {{ .Params.company }}</p>
      </div>
      {{ end }}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          {{ with .Site.Params.cta.title }}
            <button class="btn-cta mt-3" onclick="location.href='/cloud'">{{ . }}</button>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="companies">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="companies__title">
          {{ with .GetPage "companies.md" }}
            {{ .Title }}
          {{ end }}
        </h2>
        <a href="#">Read case studies</a>
      </div>
    </div>
  </div>
  <div class="container">
    {{ with .GetPage "companies.md" }}
      {{ .Content }}
    {{ end }}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="companies__wrapper">
          <div class="companies__cta mt-4" id="toggleBtn" data-toggle="collapse" href="#companies" aria-expanded="false"
               aria-controls="companies">Show more
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
