/*

Add styles or override variables from the theme here.

*/

@import "base/variables";
/* Vendors */
@import "../vendor/bootstrap/scss/bootstrap";
@import "../vendor/bootstrap/scss/mixins/breakpoints";
@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/bootstrap-reboot";
@import "../vendor/bootstrap/scss/variables";

/* Base */
@import "base/base";
@import "base/fonts";
@import "base/mixins";

/* Components */
@import "components/button";
@import "components/footer";
@import "components/header";
@import "components/section-accelerators";
@import "components/section-announcement";
@import "components/section-companies";
@import "components/section-features";
@import "components/section-hero";
@import "components/section-plugins";
@import "components/section-testimonials";
@import "components/section-video";
@import "components/section-why";
@import "components/community";
@import "components/services";
@import "components/get-started";
