{{ define "main" }}
<div class="videos-page">
  {{ partial "components/hero-panel" . }}

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="plugins-small__field-wrapper input-group mb-3">
          <input type="text"
                 id="searchInput"
                 class="plugins-small__search-input"
                 placeholder="Search videos by name"
                 onkeyup="searchVideos()"
          >
          <div class="input-group-prepend"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="d-flex justify-content-end align-items-center my-5">
      <span class="mr-4">Subscribe to our channel</span>
      <div class="g-ytsubscribe" data-channelid="UCfkRcekMTa5GA2DdNKba7Jg" data-layout="default"
           data-count="default"></div>
    </div>
  </div>

  {{ $data := index .Site.Data .Site.Language.Lang }}
  {{ with $videos := $data.videos.videos }}
  <div id="firstVideos" class="container">
    <div class="row">
      {{ range first 16 $videos }}
      {{ partial "components/videos/videos" . }}
      {{ end }}
    </div>
  </div>
  <div id="videos" class="container collapse">
    <div class="row">
      {{ range after 16 $videos }}
      {{ partial "components/videos/videos" . }}
      {{ end }}
    </div>
  </div>
  <div id="searchedVideos" class="container collapse">
    <div class="row">
      {{ range $videos }}
      {{ partial "components/videos/videos" . }}
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ $list := $data.videos.videos }}
  {{ $len := (len $list) }}
  {{ if gt $len 16 }}
  <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <div class="companies__wrapper">
          <div class="companies__cta" id="toggleBtn" data-toggle="collapse" onclick="" href="#videos" aria-expanded="false">Show more
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ partial "components/videos/video-modal" . }}
</div>

<script src="https://apis.google.com/js/platform.js"></script>
{{ end }}
