<div class="row mt-sm-0 mt-md-5">
  {{ range .items }}
  <div class="why__block col-md-6 col-lg-3 d-flex flex-column align-items-center mt-5 mt-lg-0">
    <div class="d-flex flex-column align-items-center justify-content-center mb-5">
      {{ with .icon }}
        <img class="why__image" src="{{ . }}">
      {{ end }}
      <h3 class="why__block-title text-center mt-4 not-apply">{{ .header | safeHTML }}</h3>
      <div id="{{ .id }}" class="why__block-body text-center mt-4 d-sm-flex collapse">
        {{ .paragraph }}
      </div>
      <a id="{{ .id }}btn" class="d-sm-none d-flex mt-4" href="#" data-toggle="collapse" data-target="#{{ .id }}"
         onclick="learnMore({{ .id }})">Learn more</a>
    </div>
  </div>
  {{ end }}
</div>
