.solutions {
  color: $black;

  &__block {
    max-width: 290px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.41);
    background-color: $white;
    padding: 19px 27px 39px;
    margin-right: 15px;

    @include media-breakpoint-down(md) {
      margin-right: 45px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  &__header {
    margin-top: 30px;
  }

  &__image {
    height: 59px;
  }

  &__body {
    height: 194px;
  }

  &__title {
    font-size: 25px;
    letter-spacing: 0.3px;
  }

  &__description {
    font-size: 25px;
    line-height: 1.04;
    letter-spacing: 0.2px;
    text-align: center;
  }

  a {
    font-size: 16px;
    line-height: 1.13;
    color: #0775f4;
  }
}

.panel {
  color: #0C0C0C;
  font-size: 14px;
  line-height: 2.86;
  letter-spacing: 0.3px;


  &__row-wrapper {
    display: flex;
    background-color: $white-5;

    &:nth-child(odd) {
      background-color: $white;
    }
  }

  &__title {
    padding: 0 0 0 38px;
    min-height: 36px;
    min-width: 200px;
    font-weight: bold;
  }

  &__description {
    font-weight: normal;
  }
}

.case-studies {
  &--background-gray {
    background-color: $white-5;
  }
  &__body {
    h1, h2, h3, h4, h5, h6 {
      color: $black;
    }

    p {
      font-size: 16px;
      line-height: 1.56;
      letter-spacing: 0.3px;
      color: #0c0c0c;
      margin: 20px 0 0 0;
    }

    ul {
      color: $black;
      margin-top: 25px;
    }
  }

  .hero-panel {
    &__outer {
      min-height: auto;
      padding: 58px 0 77px 0;
    }

    &__second-title {
      font-size: 25px;
      line-height: 1.4;
    }

    &__paragraph {
      font-size: 18px;
      line-height: 1.39;
      letter-spacing: 0.2px;
      color: $white;
      margin-top: 50px;
    }
  }
}
