.get-started {
  .background-image {
    min-height: unset;

    @include media-breakpoint-down(sm) {
      min-height: unset;
    }
  }

  .hero-panel {
    &__navigation {
      margin-bottom: 0;
    }

    .nav-tabs {
      border: none;
    }

    ul {
      display: flex;
      width: 100%;
      @include media-breakpoint-down(sm) {
        justify-content: space-between;
      }
      li {
        display: flex;
      }
    }

    &__outer {
      min-height: unset;

      @include media-breakpoint-down(sm) {
        min-height: unset;
      }
    }
  }
}
