.header {
  height: 60px;
  border: solid 1px $gray-5;
  background-color: $black;
  border-bottom: solid 2px $deep-orange;

  @include media-breakpoint-down(sm) {
    border: none;
    border-bottom: solid 2px $deep-orange;
  }

  .container-fluid {
    @include media-breakpoint-up(xl) {
      max-width: 1480px;
    }
  }

  .navbar-toggler {
    width: 30px;
    height: 30px;
    display: none;
    border: none;

    @include media-breakpoint-down(sm) {
      display: inline-block;
    }

    &:focus, &:active {
      outline: none;
      box-shadow: none;
    }
  }

  &__wrapper {
    height: 100%;
    padding: 9px 25px;

    @include media-breakpoint-down(sm) {
      padding: 9px 0;
    }

    .navbar {
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }

  &__home {
    @include media-breakpoint-down(sm) {
      margin-left: 30px;
    }
  }

  &__logo {
    height: 21px;
    width: 85px;

    @include media-breakpoint-down(sm) {
      margin-top: 7px;
    }
  }

  .nav-item {
    position: relative;
    margin-right: 56px;
    cursor: pointer;

    &.active {
      &::before {
        content: '';
        position: absolute;
        width: 110%;
        left: -5%;
        bottom: -12px;
        height: 8px;
        text-decoration: none;
        color: white;
        background-color: $deep-orange;
      }
    }

    .header__item {
      color: $white;
    }

    @include media-breakpoint-down(md) {
      margin-right: 53px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 20px;
    }
  }

  &__item {
    font-size: 14px;
    color: white;
    letter-spacing: .3px;
    padding-bottom: 7px;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      font-size: 13px;
      letter-spacing: .26px;
      padding-bottom: 8px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
      padding-left: 1rem;
      border-left: solid 8px $black;
    }

    &:hover {
      text-decoration: none;
      color: white;
      border-bottom: solid 8px $brownish-grey;
      @include media-breakpoint-down(sm) {
        border-left: solid 8px $brownish-grey;
        border-bottom: none;
      }
    }

    &.active {
      @include media-breakpoint-down(sm) {
        border-left: solid 8px $deep-orange;
        border-bottom: none;
      }
    }
  }

  &__item-dropdown {
    &:hover, &:focus, &:active {
      @include media-breakpoint-down(sm) {
        border-left: solid 8px $deep-orange;
        border-bottom: none;
      }
    }

    &:after {
      @include rotate(rotate(45deg), 3px);
      @include media-breakpoint-down(sm) {
        @include rotate(rotate(-45deg), 0);
      }
    }

    &:hover::after {
      @include rotate(rotate(-135deg), -3px);
    }
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown:hover .header__item-dropdown {
    text-decoration: none;
    color: white;
    border-bottom: solid 8px $brownish-grey;

    &:after {
      @include rotate(rotate(-135deg), -3px);
    }
  }

  .dropdown-item {
    &:active {
      path {
        fill: $deep-orange;
      }
    }
  }

  .dropdown-menu {
    padding: 12px 25px 22px 17px;
    margin: 0;
    border: solid 1px $gray;
    border-top: solid 2px $deep-orange;
    background-color: $white-10;
    top: 37px;

    a {
      font-size: 16px;
      line-height: 34px;
      letter-spacing: .29px;
      color: $greyish-brown;
      padding: 0;

      .external-link-icon {
        margin-left: 3px;
      }

      &:hover {
        background: none;
      }

      &:active {
        color: $deep-orange;
        background: none;

        .external-link-icon {
          opacity: 1;
        }
      }
    }

    img {
      height: 16px;
      width: 20px;
      margin-left: 4px;
    }
  }

  .sideMenu {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    width: 208px;
    height: 100vh;
    background-color: $black;
    border: solid 1px $gray-5;
    @include media-breakpoint-up(md) {
      display: none !important;
    }

    .close {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      overflow: hidden;

      &::before, &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: $gray-5;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    span {
      color: $white;
    }

    .navbar-toggler {
      margin-left: calc(1rem + 8px);
      border: none;

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .navbar {
      padding: 0;
    }

    .navbar-nav .dropdown-menu {
      width: 207px;
      margin-top: 5px;
      margin-bottom: 0;
      border-radius: 0;
      border: none;

      a, span {
        font-size: 16px;
        line-height: 34px;
        letter-spacing: .29px;
        color: $greyish-brown;
        padding: 0;

        .external-link-icon {
          opacity: 0.3;
          margin-left: 3px;
        }

        &:hover {
          background: none;
        }

        &:active {
          color: $deep-orange;
          background: none;

          .external-link-icon {
            opacity: 1;
          }
        }
      }
    }
  }
}
