.testimonials {
  background-color: $gray-15;

  &__testimonial {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: $black;
    line-height: 30px;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      min-height: 150px;
      padding-right: 128px;
    }

    @include media-breakpoint-down(lg) {
      min-height: 180px;
      padding-right: 0;
    }

    @include media-breakpoint-down(md) {
      min-height: 120px;
    }
  }

  &__author {
    font-size: 16px;
    font-weight: 500;
    color: $black;
  }
}
