.companies {
  &__title {
    font-size: 35px;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: $black
  }

  &__custom {
    @include media-breakpoint-down(sm) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include media-breakpoint-between(sm, md) {
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }

  &__image {
    width: 167px;
    height: 71px;
  }

  &__wrapper {
    color: $azure;
  }

  &__cta {
    font-size: 16px;
    letter-spacing: 0.2px;
    cursor: pointer;
  }
}
