.announcement {
  padding: 0;
  margin-top: 66px;

  @include media-breakpoint-between(sm, md) {
    margin-top: 210px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 49px;
  }

  &__wrapper {
    position: relative;
    border-top: solid 1px $gray-5;
    border-bottom: solid 1px $gray-5;
    padding: 0 0 0 0;

    @include media-breakpoint-down(md) {
      padding: 0 0 50px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 0 60px 0;
    }

    .carousel {
      position: initial;
    }
  }

  &__title {
    color: $bright-orange;
    letter-spacing: .17px;
    font-size: 35px;
  }

  &__carousel {
    margin-top: 49px;
    padding-left: 57px;
    padding-right: 86px;

    @include media-breakpoint-down(md) {
      margin-top: 73px;
      padding-left: 44px;
      padding-right: 48px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 30px;
      padding-left: 6px;
      padding-right: 2px;
    }
  }

  &__media {
    margin: 0;
    padding: 0;
    height: fit-content;
  }

  &__media-body {
    letter-spacing: .17px;
    margin-top: 25px;
    height: 111px;
    margin-left: 28px;

    @include media-breakpoint-down(md) {
      height: 225px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 11px;
      margin-left: 0;
    }

    h2 {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 42px;

      @include media-breakpoint-down(md) {
        max-height: 85px;
      }
    }

    p {
      color: $brownish-grey;
      font-size: 18px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 25px;

      @include media-breakpoint-down(md) {
        max-height: 105px;
      }
    }

    .btn {
      padding: 0;
      margin: 0;
    }
  }

  &__carousel-figure {
    min-width: 252px;
    text-align: center;
  }

  &__carousel-img {
    height: 171px;
    width: auto;

    @include media-breakpoint-down(md) {
      align-self: self-start;
    }

    @include media-breakpoint-down(sm) {
      align-self: center;
    }
  }

  .carousel-indicators {
    bottom: 0;

    li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: solid 1px $gray-5;
      margin-right: 15px;
      bottom: -5px;
    }

    .active {
      background: $bright-orange-5;
      border: none;
    }
  }
}
