.features {
  background-color: $gray-15;
  position: relative;
  overflow: hidden;

  a {
    display: none;

    @include media-breakpoint-down(sm) {
      display: inline-block;
    }
  }

  &:after {
    @include media-breakpoint-down(xs) {
      bottom: -60px;
    }

    @include media-breakpoint-up(sm) {
      bottom: -50px;
    }

    @include media-breakpoint-up(md) {
      bottom: -30px;
    }
  }

  &__home-features {
    &:before {
      @include background(top);
    }

    &:after {
      @include background(bottom);
    }
  }

  &__title {
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: $greyish-brown;
  }

  &__block {
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.2px;
    color: $greyish-brown;

    @include media-breakpoint-up(lg) {
      min-height: 125px;
    }

    @include media-breakpoint-down(md) {
      min-height: 50px;
    }
  }
}
