.services {
  &__header {
    color: $greyish-brown;
    letter-spacing: .24px;

    h2 {
      line-height: 44px;
    }
  }
  &__subTitle {
    font-size: 14px;
    line-height: 2.5;
    width: 169px;
    border-bottom: 1px solid $greyish-brown;
    margin: 0 auto;
  }

  &__wrapper {
    height: 429px;
    &:nth-child(3n+2), &:nth-child(3n+3) {
      border-left: 1px solid $gray-5;
    }
    @include media-breakpoint-down(md) {
      &:nth-child(3n+2), &:nth-child(3n+3) {
        border-left: none;
      }
    }
  }

  &__block {
    color: $black;
    width: 288px;
    height: 360px;

    h3 {
      font-size: 25px;
      height: 80px;
      line-height: 40px;
    }

    p {
      height: 80px;
    }
  }

  &__image {
    height: 110px;
    width: auto;
  }

  &__button {
    font-size: 20px;
    color: $white;
    background-color: $deep-orange;
    border: none;
    width: 100%;
    height: 40px;
  }
}
