{{ $title := .Get "title" }}
{{ $path := .Get "path" }}

<section class="features">
  <div class="container mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="features__title">{{ $title }}</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ with $data.features_preparation }}
          {{ range $element := first 3 . }}
             <div class="features__block mt-5">
                <h4 class="features__title">{{ $element.header }}</h4>
                <p class="features__body">{{ $element.paragraph }}</p>
              </div>
            {{ end }}
          {{ end }}
        </div>
        <div class="col-lg-6 col-md-12">
          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ with $data.features_preparation }}
          {{ range $element := last 3 . }}
          <div class="features__block mt-5">
            <h4 class="features__title">{{ $element.header }}</h4>
            <p class="features__body">{{ $element.paragraph }}</p>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
