<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h3 class="hero__c-title not-apply">{{ .Site.Params.Title }}</h3>
        <h2 class="hero__title mt-4 not-apply">{{ .Site.Params.description | safeHTML }}</h2>
        <p class="hero__paragraph not-apply">{{ .Site.Params.about | safeHTML }}</p>
      </div>
      <div class="col-lg-6 col-md-12 mt-4 mt-lg-0">
        <div class="hero__block">
          <ul class="hero__nav-tabs nav nav-tabs" id="myTab" role="tablist">
            {{ $data := index .Site.Data .Site.Language.Lang }}
            {{ with $data.tabs }}
            {{ range $index, $element := . }}
            <li class="nav-item">
              <a class="hero__nav-link {{ if .active }} active {{ end }}"
                 id="{{ .id }}-tab"
                 data-toggle="tab"
                 href="#{{ .id }}"
                 role="tab"
                 aria-controls="{{ .id }}"
                 aria-selected="true">{{ $element.tabTitle }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
          <div class="tab-content" id="myTabContent">
            {{ $data := index .Site.Data .Site.Language.Lang }}
            {{ with $data.tabs }}
            {{ range $index, $element := . }}
            <div class="hero__tab-pane tab-pane fade {{ if .active }} show active {{ end }}"
                 id="{{ .id }}"
                 role="tabpanel"
                 aria-labelledby="home-tab">
              <h3 class="hero__tab-title text-center mt-4">{{ $element.title }}</h3>
              <div class="hero__tab-body text-center mt-4">{{ $element.description }}</div>
              <button class="btn-cta mt-3">{{ $element.buttonTitle }}</button>
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
