{{ $hrefTitle := .Get "hrefTitle" }}
{{ $title := .Get "title" }}
{{ $body := .Get "body" }}
{{ $hrefDoc := .Get "hrefDoc" }}
{{ $image := .Get "image" }}

<section class="hero-panel not-apply">
  <div class="container-fluid hero-panel__title">
    <div class="container">
      {{ if $hrefTitle }}
      <a href="/resources/accelerators" class="m-0 p-0">« {{ $hrefTitle }}</a>
      {{ end }}
      <h4 class="m-0 p-0">{{ $title }}</h4>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="hero-panel__info col-lg-6 col-md-12">
        <p class="hero-panel__paragraph not-apply">{{ .Inner | markdownify }}</p>
        <a href="#">{{ $hrefDoc }}</a>
      </div>
      {{ if $image }}
      <div class="hero-panel__info col-lg-6 col-md-12">
        <img src="/images/{{ $image }}">
      </div>
      {{ end }}
    </div>
  </div>
</section>
