{{ $title := .Get "title" }}
{{ $buttonTitle := .Get "buttonTitle" }}
{{ $buttonHref := .Get "buttonHref" }}
{{ $hrefTitle := .Get "hrefTitle" }}

<section class="plugins">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="plugins__title">{{ $title }}</h2>
        <p class="mt-4 mt-lg-0">{{ .Inner | markdownify }}</p>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      {{ $data := index .Site.Data .Site.Language.Lang }}
      {{ with $tabs := $data.plugins }}
      {{ range $tabs }}
      <div class="col-lg-3 col-md-6">
        <div class="plugins__item mt-5 mt-lg-0">
          <div class="plugins__image-wrapper">
            <img src="{{ .image }}" class="plugins__image"/>
          </div>
          <div class="plugins__block-title">{{ .title }}</div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="plugins__footer d-flex flex-column flex-lg-row align-items-center">
          <a href="{{ $buttonHref | absURL }}">
            <button class="btn-small">{{ $buttonTitle }}</button>
          </a>
          <a href="#" class="plugins__link mt-5 ml-0 mt-lg-0 ml-lg-5">{{ $hrefTitle }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
