{{ $title := .Get "title" }}
{{ $buttonTitle := .Get "buttonTitle" }}
{{ $hrefTitle := .Get "hrefTitle" }}

<section class="videos" id="videos">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="plugins__title">{{ $title }}</h2>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="videos__video mt-5 mt-lg-0">
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="videos__video mt-5 mt-lg-0">
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="videos__video mt-5 mt-lg-0">
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="videos__video mt-5 mt-lg-0">
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="plugins__footer d-flex flex-column flex-lg-row align-items-center">
          <button class="btn-small">{{ $buttonTitle }}</button>
          <a href="#" class="plugins__link mt-5 ml-0 mt-lg-0 ml-lg-5">{{ $hrefTitle }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
